#coaches {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.coaches-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (max-width: 1280px) {
  #coaches {
    display: block;
    width: 80vw;
  }
}
@media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
