.filters {
  margin-right: 2vw;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 2vh;
}

.mobile-label {
  font-size: 2.2rem;
  display: block;
}

ul {
  margin-bottom: 2vh;
}

li {
  max-width: 10vw;
  display: flex;
  margin-bottom: 0.5vh;
}

li img {
  max-width: 20px;
}

a {
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.5vw;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  color: #3A55B4;
}


.filter-mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filter-mobile select {
  font-size: 16px;
}

.filter-mobile {
  text-align: left;
}

@media (max-width: 1280px) {
  .filters {
    width: 100%;
  }

  .filter-m {
    margin-bottom: 2vh;
  }

  h1, .mobile-label {
    font-size: 1.5rem;
    margin-bottom: 0.5vh;
  }

  li {
    max-width: 20vw;
  }
}
@media (max-width: 1024px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
